<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

       <script  src="https://code.jquery.com/jquery-3.4.1.js"></script>
       <script>

              $(function() {
            $('#upload-file-btn').click(function() {
                    alert('OK to continue');
                    var form_data = new FormData($('#upload-file')[0]);
                    $.ajax({
                        type: 'POST',
                        url: "/analyse/",
                        data: form_data,
                        contentType: false,
                        cache: false,
                        processData: false,
                        success: function(data) {
                            console.log(data);
                            datas=data.data;
                            tone=data.sentiment;
                            console.log(tone);
                            $("#ocr").append(datas);
                            $("#sentiment").append(tone);

                      }

                    });
                });


            });




        function encodeImgtoBase64(element) {

                var img = element.files[0];
                var reader = new FileReader();

                reader.onloadend = function() {

                      $("#displayImg").attr("src", reader.result);
                }
                reader.readAsDataURL(img);

         }



    </script>

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">








</head>
<body>
<header class="text-gray-500 bg-gray-900 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
      <svg xmlns="" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
      </svg>
      <span class="ml-3 text-xl">LOVE IS LOVE </span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">

        <a href= "https://www.github.com/DivyanshuGaur"><img src="https://image.flaticon.com/icons/svg/25/25231.svg" width="30" height="30" title="git" alt="hub"></a>

        &nbsp<a href="https://www.linkedin.com/in/divyanshu-gaur-a52138174/"><img src="https://img.icons8.com/color/2x/linkedin.png" width="30" height="30" title="linked" alt="in"></a>
        &nbsp<a href="https://www.hackerearth.com/challenges/competitive/hackerearth-machine-learning-challenge-pride-month-edition/">Problem Statement</a>


    </nav>
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</header>



<section class="text-gray-500 bg-gray-900 body-font">
    <br><br>
    <div align="center">
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <fieldset>
            <label for="file">Select an Image</label>
            <input name="file"   type="file"
                name="img" id="img" onchange="encodeImgtoBase64(this)"
            >
            <button id="upload-file-btn" align="center" type="button">Upload</button>

        </fieldset>
        <br>
    </form>
    </div>

  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="p-4 lg:w-1/3">
        <div class="h-full bg-gray-800 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">

             <img src="" alt=""  class="center" id="displayImg" >
            <br>
             <h1 class="title-font sm:text-2xl text-xl font-medium text-white mb-3">Uploaded Image</h1>
          </div>
        </div>




      <div class="p-4 lg:w-1/3">
        <div class="h-full bg-gray-800 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative" >
                     <p class="leading-relaxed mb-3" id="ocr"></p>
                     <h1 class="title-font sm:text-2xl text-xl font-medium text-white mb-3">OCR</h1>

        </div>
      </div>


      <div class="p-4 lg:w-1/3">
        <div class="h-full bg-gray-800 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
                    <p class="leading-relaxed mb-3" id="sentiment"></p>
                    <h1 class="title-font sm:text-2xl text-xl font-medium text-white mb-3">Sentiment Analysis</h1>



        </div>
      </div>
    </div>
  </div>
</section>


<section class="text-gray-500 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="inline-block w-8 h-8 text-gray-700 mb-8" viewBox="0 0 975.036 975.036">
        <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
      </svg>
      <p class="leading-relaxed text-lg">“Artificial intelligence would be the ultimate version of Google. The ultimate search engine that would understand everything on the web. It would understand exactly what you wanted, and it would give you the right thing. We’re nowhere near doing that now. However, we can get incrementally closer to that, and that is basically what we work on.” </p>
      <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"></span>
      <h2 class="text-white font-medium title-font tracking-wider text-sm">~Larry Page</h2>

    </div>
  </div>
</section>
</body>
</html>